@model CertificationEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content container">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h4>Edit Quality Policy Point</h4>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit" enctype="multipart/form-data" method="post">
                            <input hidden asp-for="Id" />
                            <input hidden asp-for="ExistingPhotoPath" />


                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="CertificationName" class="control-label"></label>
                                <input asp-for="CertificationName" class="form-control" />
                                <span asp-validation-for="CertificationName" class="text-danger"></span>
                            </div>

                            <div class="form-group custom-file">
                                <label asp-for="File"></label>
                                <div class="custom-file">
                                    <input type="file" asp-for="File" class="form-control custom-file-input" />
                                    <label asp-for="File" class="custom-file-label">Click here... </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="AddedDate" class="control-label"></label>
                                <input asp-for="AddedDate" class="form-control" />
                                <span asp-validation-for="AddedDate" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>



            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
