@model SharedViewModel

    <li><i class="flaticon-direction-signs"></i>@Model.WebSettings.Adress</li>
    <li><i class="flaticon-multimedia-1"></i>@Model.WebSettings.EmailAdress</li>
    <li><i class="bi bi-whatsapp"></i>@Model.WebSettings.WhatsApp</li>
    <li><i class="bi bi-telephone"></i>@Model.WebSettings.Phone</li>
