@model Core.Entites.WebSettings.SocialMediaAddresses

<li><a href="@Model.FbAdress"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="@Model.InstaAdress"><i class="fab fa-instagram"></i></a></li>
<li><a href="@Model.LinkedinAdress"><i class="fab fa-linkedin-in"></i></a></li>
