    <li><a asp-area="Main" asp-action="Geotechnical" asp-controller="Services">Geotechnical Investigation</a></li>
    <li><a asp-area="Main" asp-action="Material" asp-controller="Services">Construction Material Tests</a></li>
    <li><a asp-area="Main" asp-action="Water" asp-controller="Services">Drinking Water Tests</a></li>
    <li><a asp-area="Main" asp-action="Evaluation" asp-controller="Services">Structural Evaluation</a></li>
    <li><a asp-area="Main" asp-action="Masonary" asp-controller="Services">Masonary Materials Tests</a></li>

