<!--
=============================================
    Theme Inner Banner
==============================================
-->
<div class="theme-inner-banner section-spacing">
</div> <!-- /.theme-inner-banner -->
<!--
=============================================
    Service Details
==============================================
-->
<div class="service-details section-spacing">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-12">
                <div class="service-content">
                    <img src="~/images/geotechnical-investigation/geotechnical-investigation.jpg" alt="service-image" class="cover-img" />
                    <h3 class="main-title">Geotechnical Investigation</h3>
                    <p>
                       Each project begins by ensuring it has a strong foundation. NEWTEST skilled engineers, and technicians work to provide
                       a full understanding of each project to improve foundation design, shorten construction time, and lower costs by performing
                       the needed tests.
                    </p>
                    <div class="presentation-section">
                        <h4 class="sub-heading">Test Fields:</h4>
                        <div class="service-style-one">
                            <div class="container">
                                <div class="wrapper">
                                    <div class="row">
                                        <div class="col-xl-6 col-md-9 col-12">
                                            <div class="single-service">
                                                <div class="img-box">
                                                    <img src="~/images/geotechnical-investigation/serv-01.jpg" alt="" />
                                                </div>
                                                <div class="text">
                                                    <h5><a href="#topic1" class="scroll">Boreholes Soil Sampling </a></h5>
                                                    <a href="#topic1" class="scroll read-more">READ MORE<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                </div>
                                                <!-- /.text -->
                                            </div>
                                            <!-- /.single-service -->
                                        </div>
                                        <!-- /.col- -->
                                        <div class="col-xl-6 col-md-9 col-12">
                                            <div class="single-service">
                                                <div class="img-box">
                                                    <img src="~/images/geotechnical-investigation/serv-02.jpg" alt="" />
                                                </div>
                                                <div class="text">
                                                    <h5>
                                                        <a href="#topic2">Physical and Chemical Properties Determination </a>
                                                    </h5>
                                                    <a href="#topic2" class="read-more">READ MORE<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                </div>
                                                <!-- /.text -->
                                            </div>
                                            <!-- /.single-service -->
                                        </div>
                                        <!-- /.col- -->
                                        <div class="col-xl-6 col-md-9 col-12">
                                            <div class="single-service">
                                                <div class="img-box">
                                                    <img src="~/images/geotechnical-investigation/serv-03.jpg" alt="" />
                                                </div>
                                                <div class="text">
                                                    <h5 href="#topic3">
                                                        <a href="#topic3">Soil Strength Determination </a>
                                                    </h5>
                                                    <a href="#topic3" class="read-more">READ MORE<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                </div>
                                                <!-- /.text -->
                                            </div>
                                            <!-- /.single-service -->
                                        </div>
                                        <!-- /.col- -->


                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.wrapper -->
                            </div>
                            <!-- /.container -->
                        </div>
                        <!-- /.service-style-one -->
                    </div>

                    <hr>

                    <!-- Boreholes Soil Sampling Section -->
                    <h5 style="margin: 25px 0 20px 0" id="topic1">Boreholes Soil Sampling</h5>
                    <p>
                        Boreholes and Soil sampling will be performed according to relevant specification In field and laboratory to ensure that reliable data are obtained using the equipment designated for sampling.
                    </p>
                    <p>
                        Boreholes and Soil sampling will be performed according to relevant specification In field and laboratory to ensure that reliable data are obtained using the equipment designated for sampling.
                    </p>
                    <div class="tests">
                        <p>The following test are preformed to achieve this:</p>
                        <ul class="columns" data-column="2">
                            <li>Core Soil Sampling</li>
                            <li>Shelby Tube</li>
                        </ul>
                    </div>
                    <hr />

                    <!-- Physical and Chemical Properties Determination -->
                    <h5 style="margin: 25px 0 20px 0" id="topic2">Physical and Chemical Properties Determination</h5>
                    <p>
                        Boreholes and Soil sampling will be performed according to relevant specification In field and laboratory to ensure that reliable data are obtained using the equipment designated for sampling.
                    </p>
                    <p>
                        Boreholes and Soil sampling will be performed according to relevant specification In field and laboratory to ensure that reliable data are obtained using the equipment designated for sampling.
                    </p>
                    <div class="tests">
                        <p>The following test are preformed to achieve this:</p>
                        <ul class="columns" data-column="2">
                            <li>Soil classification tests</li>
                            <li>Moisture content</li>
                            <li>Specific gravity</li>
                            <li>Atterberg limits</li>
                        </ul>
                    </div>
                    <hr />

                    <!-- Soil Strength Determination Determination -->
                    <h5 style="margin: 25px 0 20px 0" id="topic3">Soil Strength Determination</h5>
                    <p>
                        Boreholes and Soil sampling will be performed according to relevant specification In field and laboratory to ensure that reliable data are obtained using the equipment designated for sampling.
                    </p>
                    <p>
                        Boreholes and Soil sampling will be performed according to relevant specification In field and laboratory to ensure that reliable data are obtained using the equipment designated for sampling.
                    </p>
                    <div class="tests">
                        <p>The following test are preformed to achieve this:</p>
                        <ul class="columns" data-column="2">
                            <li>Direct shear test</li>
                            <li>Consolidation test (one-dimensional consolidation properties</li>
                            <li>Consolidated undrained Triaxial compression test</li>
                            <li>Consolidated Drained Triaxial compression test</li>
                            <li>Unconfined compression strength</li>
                            <li>Chemical Analysis tests for Soil  </li>
                        </ul>
                    </div>

                    <!-- /.presentation-section -->
                </div>
                <!-- /.service-content -->
            </div>
            <!-- /.col- -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-12 theme-sidebar-one">
                <div class="sidebar-box service-categories">
                    <h5 class="title">Our Services</h5>
                    <ul>
                        @await Component.InvokeAsync("Services")
                    </ul>
                </div>
                <!-- /.service-categories -->
                <div class="sidebar-box sidebar-brochures">
                    <h5 class="title">Brochures</h5>
                    <ul>
                        @await Component.InvokeAsync("PdfFiles")
                    </ul>
                </div>
                <!-- /.sidebar-brochures -->
            </div>
            <!-- /.theme-sidebar-one -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.service-details -->