<!--
=============================================
    Theme Inner Banner
==============================================
-->
<div class="theme-inner-banner section-spacing">
</div> <!-- /.theme-inner-banner -->
<!--
=============================================
    Service Details
==============================================
-->
<div class="service-details section-spacing">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-12">
                <div class="service-content">
                    <img src="~/images/masonary-tests/masonary-test.jpg" alt="service-image" class="cover-img" />
                    <h3 class="main-title">Masonary Material Tests</h3>
                    <p>
                        Since the earliest structures, Masonry materials quality has made the difference between successful and unsuccessful building projects. Today's masonry materials can be simple or advanced, but all must meet quality standards and codes.
                    </p>
                    <p>
                        We can help and support your masonry products and routinely perform quality checks of local producers. Our goal is to ensure the safety, fitness, and durability of the Masonry building materials you are using in your construction project and to certify that it’s will fit the intended purpose to achieve the success of the structure project being built.
                    </p>
                    <div class="presentation-section">
                        <h4 class="sub-heading">The Masonry material we are testing for are as follow:</h4>
                        <div class="service-style-one">
                            <div class="container">
                                <div class="wrapper">
                                    <div class="row">
                                        <div class="col-xl-6 col-md-9 col-12">
                                            <div class="single-service">
                                                <div class="img-box">
                                                    <img src="~/images/masonary-tests/serv-01.jpg" alt="" />
                                                </div>
                                                <div class="text">
                                                    <h5>
                                                        <a href="#topic1">Tiles</a>
                                                    </h5>
                                                    <a href="#topic1" class="read-more">READ MORE<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                </div>
                                                <!-- /.text -->
                                            </div>
                                            <!-- /.single-service -->
                                        </div>
                                        <!-- /.col- -->
                                        <div class="col-xl-6 col-md-9 col-12">
                                            <div class="single-service">
                                                <div class="img-box">
                                                    <img src="~/images/masonary-tests/serv-02.jpg" alt="" />
                                                </div>
                                                <div class="text">
                                                    <h5>
                                                        <a href="#topic2">Concrete Block</a>
                                                    </h5>
                                                    <a href="#topic2" class="read-more">READ MORE<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                </div>
                                                <!-- /.text -->
                                            </div>
                                            <!-- /.single-service -->
                                        </div>
                                        <!-- /.col- -->
                                        <div class="col-xl-6 col-md-9 col-12">
                                            <div class="single-service">
                                                <div class="img-box">
                                                    <img src="~/images/masonary-tests/serv-03.jpg" alt="" />
                                                </div>
                                                <div class="text">
                                                    <h5>
                                                        <a href="#topic3">Gypsum</a>
                                                    </h5>
                                                    <a href="#topic3" class="read-more">READ MORE<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                </div>
                                                <!-- /.text -->
                                            </div>
                                            <!-- /.single-service -->
                                        </div>
                                        <!-- /.col- -->
                                        <div class="col-xl-6 col-md-9 col-12">
                                            <div class="single-service">
                                                <div class="img-box">
                                                    <img src="~/images/masonary-tests/serv-04.jpg" alt="" />
                                                </div>
                                                <div class="text">
                                                    <h5>
                                                        <a href="#topic4">Building Stone</a>
                                                    </h5>
                                                    <a href="#topic4" class="read-more">READ MORE<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                </div>
                                                <!-- /.text -->
                                            </div>
                                            <!-- /.single-service -->
                                        </div>
                                        <!-- /.col- -->
                                        <div class="col-xl-6 col-md-9 col-12">
                                            <div class="single-service">
                                                <div class="img-box">
                                                    <img src="~/images/masonary-tests/serv-05.jpg" alt="" />
                                                </div>
                                                <div class="text">
                                                    <h5>
                                                        <a href="#topic5">Curbestone</a>
                                                    </h5>
                                                    <a href="#topic5" class="read-more">READ MORE<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                </div>
                                                <!-- /.text -->
                                            </div>
                                            <!-- /.single-service -->
                                        </div>
                                        <!-- /.col- -->
                                        <div class="col-xl-6 col-md-9 col-12">
                                            <div class="single-service">
                                                <div class="img-box">
                                                    <img src="~/images/masonary-tests/serv-06.jpg" alt="" />
                                                </div>
                                                <div class="text">
                                                    <h5>
                                                        <a href="#topic6">Concrete Paving Units</a>
                                                    </h5>
                                                    <a href="#topic6" class="read-more">READ MORE<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                </div>
                                                <!-- /.text -->
                                            </div>
                                            <!-- /.single-service -->
                                        </div>
                                        <!-- /.col- -->

                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.wrapper -->
                            </div>
                            <!-- /.container -->
                        </div>
                        <!-- /.service-style-one -->
                    </div>

                    <hr>

                    <!-- Boreholes Soil Sampling Section -->
                    <h5 style="margin: 25px 0 20px 0" id="topic1">Tiles</h5>
                    <p>
                        For product conformity, quality control, safety, performance, we perform testing on Ceramic Tile and Terrazzo Tile to determine their physical and chemical properties, ensuring their suitability for their intended use and if it meet the standards and specifications in our PALAC accredited testing laboratory. We conduct the following materials testing for both Tile types:
                    </p>
                    <div class="tests">
                        <p>Normal Tile (Terrazzo): </p>
                        <ul class="columns" data-column="2">
                            <li>Dimensions and straightening edges</li>
                            <li>Water Absorption</li>
                            <li>Breaking Strength</li>
                            <li>slip resistance tile</li>
                            <li>Abrasion resistance tile</li>
                        </ul>
                    </div>
                    <div class="tests">
                        <p></p>
                        <p>Ceramic Tile: </p>
                        <ul class="columns" data-column="2">
                            <li>Measuring Warpage of Ceramic Tile</li>
                            <li>Coefficient of Linear Thermal Expansion of Plastics</li>
                            <li>Thermal Shock Resistance</li>
                            <li>Resistance of Ceramic Tile to Chemical Substances</li>
                            <li>Determination of Resistance to Staining</li>
                            <li>Slip resistance</li>
                            <li>Breaking Strength of Ceramic Tile</li>
                            <li>Water Absorption, Bulk Density, Apparent Porosity, and Apparent Specific Gravity of Ceramic Tiles, and Glass Tiles</li>
                        </ul>
                    </div>
                    <hr />

                    <!-- Physical and Chemical Properties Determination -->
                    <h5 style="margin: 25px 0 20px 0" id="topic2">Concrete Block</h5>
                    <p>
                        Concrete masonry block units are the most commonly used material as a lightweight, cost-effective solution for nearly any structure, in our laboratory we can help you to gain an awareness of characteristics and limitations for your project blocks.
                    </p>
                    <p>
                        Concrete block testing from NEWTEST – provides testing of walling concrete blocks and the hollow block using in ribbed slabs to help you meet the needs of your project, and comply with regulations and quality requirements.
                    </p>
                    <div class="tests">
                        <p>Masonry concrete blocks: </p>
                        <ul class="columns" data-column="2">
                            <li>Measurement of Dimensions</li>
                            <li>Specific Weight</li>
                            <li>Strength</li>
                        </ul>
                    </div>
                    <hr />
                    <div class="tests">
                        <p></p>
                        <p>Ribbed slabs concrete blocks  </p>
                        <ul class="columns" data-column="2">
                            <li>Measurement of Dimensions</li>
                            <li>Specific Weight</li>
                            <li>Flexural Strength</li>
                        </ul>
                    </div>            

                    <!-- Soil Strength Determination Determination -->
                    <h5 style="margin: 25px 0 20px 0" id="topic3">Gypsum</h5>
                    <p>
                        Selecting gypsum Boards that will provide suitable lifetime performance for your project is an important step, to help you we are offering gypsum testing to ensure the quality and different properties of your Gypsum boards.
                    </p>
                    <div class="tests">
                        <p>Our Testing services include testing for:</p>
                        <ul class="columns" data-column="2">
                            <li>Dimensions and tolerances (Edges, End Squareness, Width, Thickness)</li>
                            <li>Flexural Strength</li>
                            <li>Humidified Deflection</li>
                        </ul>
                    </div>
                    <hr />

                    <!-- Soil Strength Determination Determination -->
                    <h5 style="margin: 25px 0 20px 0" id="topic4">Building Stone</h5>
                    <p>
                        AS our region is best known for its natural stones that has been used as a building material since ancient times.  At NEWTEST we will test all relevant properties of the natural stone to evaluate its quality and if it complies with building codes, standards, and specifications.
                    </p>
                    <div class="tests">
                        <p>Our Testing services include testing for:</p>
                        <ul class="columns" data-column="2">
                            <li>Compressive Strength </li>
                            <li>Absorption and Bulk Specific Gravity </li>
                            <li>Determination of the Point Load Strength Index </li>                            
                            <li>Modulus of Rupture of Dimension Stone </li>                            
                        </ul>
                    </div>
                    <hr />

                    <!-- Soil Strength Determination Determination -->
                    <h5 style="margin: 25px 0 20px 0" id="topic5">Curbe Stone </h5>
                    <p>
                        Pre-cast concrete curbstone is placed on the roadside as a supportive element that will provide lateral confinement and stability to the pavement and sometimes to increase the aesthetic appearance.
                    </p>
                    <p>
                        And to ensure that you select the curbstone that provides the qualities and performance you need for your project and if its Comply with the relevant standards and regulations we offer you a range of kerbs testing services, including:
                    </p>
                    <div class="tests">
                        <p>The following test are preformed to achieve this:</p>
                        <ul class="columns" data-column="2">
                            <li>Measurement of dimensions of a single unit</li>
                            <li>Determination of total water absorption</li>
                            <li>Measurement of Flexural Strength</li>                            
                        </ul>
                    </div>
                    <hr />

                    <!-- Soil Strength Determination Determination -->
                    <h5 style="margin: 25px 0 20px 0" id="topic6">Concrete Paving Units</h5>
                    <p>
                        Interlocking paving units need to be tested to evaluates its performance and its durability of paving as an essential property that determines its strength and capability of withstanding the different conditions to which it is expected to be exposed to that will  improve assurance of already good field performance.
                    </p>
                    <div class="tests">
                        <p>The following Tests depending on different testing standards and specification are perform: </p>
                        <ul class="columns" data-column="2">
                            <li>Dimensions </li>
                            <li>Compressive & Flexure Strength </li>
                            <li>Abrasion Resistance</li>
                            <li>Apparent Density</li>
                            <li>Finishing and conformity of the consignment to the specification </li>
                            <li>Absorption test </li>
                        </ul>
                    </div>

                    <!-- /.presentation-section -->
                </div>
                <!-- /.service-content -->
            </div>
            <!-- /.col- -->

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-12 theme-sidebar-one">
                <div class="sidebar-box service-categories">
                    <h5 class="title">Our Services</h5>
                    <ul>
                        @await Component.InvokeAsync("Services")
                    </ul>
                </div>
                <!-- /.service-categories -->
                <div class="sidebar-box sidebar-brochures">
                    <h5 class="title">Brochures</h5>
                    <ul>
                        @await Component.InvokeAsync("PdfFiles")
                    </ul>
                </div>
                <!-- /.sidebar-brochures -->
            </div>
            <!-- /.theme-sidebar-one -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.service-details -->