<!--
=============================================
    Theme Inner Banner
==============================================
-->
<div class="theme-inner-banner section-spacing">
</div> <!-- /.theme-inner-banner -->
<!--
=============================================
    Service Details
==============================================
-->
<div class="service-details section-spacing">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-12">
                <div class="service-content">
                    <img src="~/images/material-tests/construction-material.jpg" alt="service-image" class="cover-img" />
                    <h3 class="main-title">Construction Material Tests</h3>
                    <p>
                        Construction Materials Testing minimizes surprises by providing in-depth data to help make informed decisions about
                        a project. Our laboratory delivers comprehensive, inter-disciplinary services in the development, processing, characterization
                        and testing of a full range of construction material to make certain that the materials and products we test, inspect and certify
                        for our customers are safe, quality, compliant and fit for purposes.
                    </p>
                    <div class="presentation-section">
                        <h4 class="sub-heading">Test Fields:</h4>
                        <div class="service-style-one">
                            <div class="container">
                                <div class="wrapper">
                                    <div class="row">
                                        <!-- Aggregate Section -->
                                        <div class="col-xl-6 col-md-9 col-12">
                                            <div class="single-service">
                                                <div class="img-box">
                                                    <img src="~/images/material-tests/serv-01.jpg" alt="" />
                                                </div>
                                                <div class="text">
                                                    <h5>
                                                        <a href="#topic1">Aggregate</a>
                                                    </h5>
                                                    <a href="#topic1" class="read-more">READ MORE<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                </div>
                                                <!-- /.text -->
                                            </div>
                                            <!-- /.single-service -->
                                        </div>
                                        <!-- /.col- -->
                                        <!-- Concrete Section -->
                                        <div class="col-xl-6 col-md-9 col-12">
                                            <div class="single-service">
                                                <div class="img-box">
                                                    <img src="~/images/material-tests/serv-03.jpg"
                                                         alt="" />
                                                </div>
                                                <div class="text">
                                                    <h5>
                                                        <a href="#topic2">Concrete</a>
                                                    </h5>
                                                    <a href="#topic2" class="read-more">
                                                        READ MORE
                                                        <i class="fa fa-angle-right"
                                                           aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <!-- /.text -->
                                            </div>
                                            <!-- /.single-service -->
                                        </div>
                                        <!-- /.col- -->
                                        <!-- Cement Section -->
                                        <div class="col-xl-6 col-md-9 col-12">
                                            <div class="single-service">
                                                <div class="img-box">
                                                    <img src="~/images/material-tests/serv-04.jpg"
                                                         alt="" />
                                                </div>
                                                <div class="text">
                                                    <h5>
                                                        <a href="#topic3">Cement</a>
                                                    </h5>
                                                    <a href="#topic3" class="read-more">
                                                        READ MORE
                                                        <i class="fa fa-angle-right"
                                                           aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <!-- /.text -->
                                            </div>
                                            <!-- /.single-service -->
                                        </div>
                                        <!-- /.col- -->
                                        <!-- Asphalt Section -->
                                        <div class="col-xl-6 col-md-9 col-12">
                                            <div class="single-service">
                                                <div class="img-box">
                                                    <img src="~/images/material-tests/serv-05.jpg"
                                                         alt="" />
                                                </div>
                                                <div class="text">
                                                    <h5>
                                                        <a href="#topic4">Asphalt</a>
                                                    </h5>
                                                    <a href="#topic4" class="read-more">
                                                        READ MORE
                                                        <i class="fa fa-angle-right"
                                                           aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <!-- /.text -->
                                            </div>
                                            <!-- /.single-service -->
                                        </div>
                                        <!-- /.col- -->
                                        <!-- Bitumen Section -->
                                        <div class="col-xl-6 col-md-9 col-12">
                                            <div class="single-service">
                                                <div class="img-box">
                                                    <img src="~/images/material-tests/serv-06.jpg"
                                                         alt="" />
                                                </div>
                                                <div class="text">
                                                    <h5>
                                                        <a href="#topic5">Bitumen</a>
                                                    </h5>
                                                    <a href="#topic5" class="read-more">
                                                        READ MORE
                                                        <i class="fa fa-angle-right"
                                                           aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <!-- /.text -->
                                            </div>
                                            <!-- /.single-service -->
                                        </div>
                                        <!-- /.col- -->
                                        <!-- Steel Section -->
                                        <div class="col-xl-6 col-md-9 col-12">
                                            <div class="single-service">
                                                <div class="img-box">
                                                    <img src="~/images/material-tests/serv-07.jpg"
                                                         alt="" />
                                                </div>
                                                <div class="text">
                                                    <h5>
                                                        <a href="#topic6">Reinforcing Steel</a>
                                                    </h5>
                                                    <a href="#topic6" class="read-more">
                                                        READ MORE
                                                        <i class="fa fa-angle-right"
                                                           aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <!-- /.text -->
                                            </div>
                                            <!-- /.single-service -->
                                        </div>
                                        <!-- /.col- -->


                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.wrapper -->
                            </div>
                            <!-- /.container -->
                        </div>
                        <!-- /.service-style-one -->
                    </div>

                    <hr>
                    <!-- Aggregate Section -->
                    <h5 style="margin: 25px 0 20px 0" id="topic1">
                        Aggregate and Base Course Layers Tests in Roads
                    </h5>
                    <p>
                        NEWTEST is capable of performing all kinds of aggregate
                        Routine testing which represent the main material used in the
                        construction industry to produce concrete, bituminous Mixtures
                        and Roadbed layers (Basecourse and Subbase).
                    </p>
                    <p>
                        It requires many tests to evaluate aggregate’ properties and
                        demonstrate compliance with regulations and quality standards
                        and to improve the quality, strength and durability of
                        concrete and pavement constructions.
                    </p>
                    <div class="tests">
                        <p>The following test are preformed to achieve this:</p>
                        <ul class="columns" data-column="2">
                            <li>Los Angeles Abrasion</li>
                            <li>Specific Gravity and Absorbtion</li>
                            <li>Moisture Content of Aggregate</li>
                            <li>Sieve Analysis</li>
                            <li>Organic Impurities in Fine Aggregates for Concrete</li>
                            <li>Clay Lumps and Friable Particles in Aggregates</li>
                            <li>Flakiness Index</li>
                            <li>Elongation Index</li>
                            <li>Soundness using (MgSO4 or Na2SO4)</li>
                            <li>Sand Equivalent Value</li>
                            <li>Modified Proctor Compaction Test</li>
                            <li>California Bearing Ratio (CBR)</li>
                            <li>Electrical Soil density gauge</li>
                            <li>
                                Density and Unit Weight of Soil in Place by Sand-Cone
                                Method
                            </li>
                        </ul>
                    </div>
                    <hr />


                    <!-- Concrete Section -->
                    <h5 class="service-title" id="topic2">Concrete Testing</h5>
                    <p>
                        Our laboratory is Performing the necessary tests for all types
                        of concrete used in construction projects. Consequently, from
                        pre-construction review, concrete mix design/evaluation, and
                        concrete batch plant monitoring to fresh concrete testing
                        on-site and hardened concrete testing in the laboratory,
                        NEWTEST support you at every stage of your project's
                        construction.
                    </p>
                    <div class="tests">
                        <p>
                            Our concrete testing services in accordance with
                            internationally recognized BS, EN, and ASTM standards and PS
                            standards to ensure that the concrete comply with it and to
                            raise the quality of production AS FOLLOWING:
                        </p>
                        <p>For Fresh Concrete</p>
                        <ul class="columns">
                            <li>Sampling Fresh Concrete</li>
                            <li>Slump Testing</li>
                            <li>Concrete Mix Design</li>
                        </ul>
                        <p style="margin-top: 25px">For Hardened Concrete</p>
                        <ul>
                            <li>
                                Compressive and flexural strength for obtaining specimens
                                from field at 7 and 28 days from casting
                            </li>
                            <li>Obtaining and testing Concrete Cores</li>
                            <li>Dimension Measurement</li>
                            <li>
                                Measurement of moisture content in the sample after its
                                normal drying
                            </li>
                            <li>
                                Density, Absolute water absorption and Capillary
                                absorption
                            </li>
                            <li>Abrasion Resistance</li>
                            <li>Modules of Elasticity</li>
                            <li>Cement Content in Concrete</li>
                            <li>Non-destructive Hammer Test</li>
                            <li>Non-destructive Ultrasonic testing</li>
                            <li>Pile Integrity</li>
                        </ul>
                    </div>
                    <hr />

                    <!-- Cement Section -->
                    <h5 class="service-title" id="topic3">Cement Testing</h5>
                    <p>
                        NEWTEST carried out many tests to check the Strength and the
                        Quality of the cement that used in construction, and to help
                        to identify the usage of cement for different purpose based on
                        its durability and performance and specialize in determining
                        the type of cement if its Ordinary Portland cement (OPC) OR
                        Sulfate Resisting Cement (SRC) to be certain that it will fit
                        the purpose that it will be used for.
                    </p>
                    <div class="tests">
                        <p>
                            The following tests are conducted on cement in the
                            Laboratory
                        </p>
                        <ul class="columns">
                            <li>
                                Time of Setting of Hydraulic Cement by Vicat Needle.
                            </li>
                            <li>
                                Compressive Strength & flexural Strength of Hydraulic
                                Cement Mortars.
                            </li>
                            <li>
                                Autoclave Expansion of Hydraulic Cement (Soundness).
                            </li>
                            <li>Cement chemical analysis.</li>
                            <li>Fineness of Hydraulic Cement and Raw Materials.</li>
                        </ul>
                    </div>
                    <hr />

                    <!-- Asphalt Section -->
                    <h5 class="service-title" id="topic4">Asphalt Testing</h5>
                    <p>
                        New technologies, increased construction liability, and
                        revised building standards have made quality asphalt testing
                        and inspection integral to the successful completion of
                        today’s construction projects.
                    </p>
                    <p>
                        NEWTEST Materials Laboratory meets this challenge head-on,
                        offering full-service asphalt design and testing services,
                        performed by qualified testing engineers and backed by the
                        documentation you need to ensure quality asphalt production
                        and installation.
                    </p>
                    <div class="tests">
                        <p>
                            We perform asphalt testing services group to evaluates
                            asphalt binders, asphalt mixtures and other derivatives of
                            asphalt geared for use in the construction industry AS
                            FOLLOWING:
                        </p>
                        <ul class="columns">
                            <li>Asphalt Hot Mix Design (Marshall)</li>
                            <li>Bitumen content (Extraction)</li>
                            <li>Theoretical maximum specific gravity (GMM)</li>
                            <li>Density of Marshall specimens (GMB)</li>
                            <li>Marshall Stability & Flow</li>
                            <li>Coring of paved asphalt</li>
                            <li>Pavement Thickness Design</li>
                        </ul>
                    </div>
                    <hr />


                    <!-- Bitumen Section -->
                    <h5 class="service-title" id="topic5">Bitumen Testing</h5>
                    <p>
                        This laboratory uniquely provides testing and analysis for
                        Bituminous products and primers to ensure the quality and
                        different properties of bitumen for pavement construction
                        activities and to make the properties of bitumen more
                        predictable in the time of application and after aging; we
                        have various test methods that we perform to help us reaching
                        this goal:
                    </p>
                    <div class="tests">
                        <ul class="columns">
                            <li>Specific Gravity</li>
                            <li>Flash Point</li>
                            <li>Pentration</li>
                            <li>Ductility</li>
                            <li>Kinematic Viscosity</li>
                            <li>Solubility</li>
                            <li>
                                Water in Petroleum Products and Bituminous Materials by
                                Distillation
                            </li>
                            <li>Effect of Heat and Air on Asphaltic Materials</li>
                        </ul>
                    </div>
                    <hr />


                    <!-- Steel Section -->
                    <h5 class="service-title" id="topic6">Steel Testing</h5>
                    <p>
                        Steel Rebars are used in concrete construction to enhance
                        tensile strength and helps to maintain structural integrity as
                        concrete cracks from expansion and contraction cycles.
                    </p>
                    <p>
                        Using advanced techniques and equipment, our Engineers provide
                        valuable insight into Steel rebars performance and
                        characteristics, helping you make critical determinations
                        about it where our Reinforcement Steel tests designed to
                        ensure rebars safety, quality, strength and if it is fit for
                        intended purpose.
                    </p>
                    <div class="tests">
                        <p>NEWTEST offer the following testing methods for steel:</p>
                        <ul class="columns">
                            <li>Bending and re-bending strength for steel Bars</li>
                            <li>Tensil Strength of Steel Bars</li>
                        </ul>
                    </div>

                    <!-- /.presentation-section -->
                </div>
                <!-- /.service-content -->
            </div>
            <!-- /.col- -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-12 theme-sidebar-one">
                <div class="sidebar-box service-categories">
                    <h5 class="title">Our Services</h5>
                    <ul>
                        @await Component.InvokeAsync("Services")
                    </ul>
                </div>
                <!-- /.service-categories -->
                <div class="sidebar-box sidebar-brochures">
                    <h5 class="title">Brochures</h5>
                    <ul>
                        @await Component.InvokeAsync("PdfFiles")
                    </ul>
                </div>
                <!-- /.sidebar-brochures -->
            </div>
            <!-- /.theme-sidebar-one -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.service-details -->