<li><a asp-area="Main" asp-action="Robotic" asp-controller="SpecialServices">Robotic Pipeline Inspection</a></li>
<li><a asp-area="Main" asp-action="Steel" asp-controller="SpecialServices">Tensile Steel Test</a></li>
<li><a asp-area="Main" asp-action="Ultrasonic" asp-controller="SpecialServices">Ultrasonic Concrete Test</a></li>
<li><a asp-area="Main" asp-action="Electrical" asp-controller="SpecialServices">Electrical Field Density Test</a></li>
<li><a asp-area="Main" asp-action="Pile" asp-controller="SpecialServices">Pile Integrity Test</a></li>
<li><a asp-area="Main" asp-action="Triaxial" asp-controller="SpecialServices">Triaxial Test</a></li>
