<!--
=============================================
    Theme Inner Banner
==============================================
-->
<div class="theme-inner-banner section-spacing">
</div> <!-- /.theme-inner-banner -->
<!--
=============================================
    Service Details
==============================================
-->
<div class="service-details section-spacing">
    <div class="container">
        <div class="row">

            <div class="col-xl-9 col-lg-8 col-12">
                <div class="service-content">
                    <img src="~/images/specialServices/robotic-pipeline/robotic-img-01.jpg" alt="" class="cover-img">
                    <h3 class="main-title">Robotic Pipeline Inspection</h3>
                    <p>
                        NEWTEST has state-of-the-art robot inspection pipelines in our advanced testing laboratory which is the most effective and accurate tools to access the pipelines networks that play a very important role in the drainage industry. And because pipeline systems are often hidden underground, long, thin and complex; robots are sorely needed, so that we are provide CCTV Robot which is Designed for long-distance drainpipes up to 300m with a pipe diameter of 6" - 24".
                    </p>
                    <p>
                        It is a high-definition pipeline inspection robot, and it’s can use a tablet, a laptop or a dedicated industrial controller as the main control, freely choose wireless or wired connection and control, and display and store high-definition inspection videos in real time.
                    </p>

                    <div class="market-growth">
                        <h4 class="sub-heading">Pipelines Inspection Using (CCT ROBOT) </h4>
                        <div class="wrapper">
                            <div class="row">
                                <div class="col-xl-6 col-md-7 col-12">
                                    <p>
                                        As a single-source provider of CCT Robot and Pipeline testing, we can assist in creating a testing program that gives you confidence in your Pipeline Project through providing you the following:
                                    </p>
                                    <ul>
                                        <li>Best-quality inspection and images of cracks and notchezs in the Pipelines</li>
                                        <li>HD-Video, 1920 x 1080 resolution showing the internal shape of pipes, bends and manholes</li>
                                        <li>Location of the cracks inside the pipelines and which is extremely important for repair</li>
                                        <li>Field evaluation report including (installation quality, defects and inclination) </li>
                                    </ul>
                                </div>
                                <div class="col-xl-6 col-md-5 col-12">
                                    <img src="~/images/specialServices/robotic-pipeline/robotic-img-03.jpg" alt="">
                                </div>
                            </div>
                        </div> <!-- /.wrapper -->
                    </div> <!-- /.market-growth -->

                    <div class="market-growth">
                        <h4 class="sub-heading">Pipe Push-Rod Camera </h4>
                        <div class="wrapper">
                            <div class="row">
                                <div class="col-xl-6 col-md-5 col-12">
                                    <img src="~/images/specialServices/robotic-pipeline/robotic-img-04.png" alt="">
                                </div>
                                <div class="col-xl-6 col-md-7 col-12">
                                    <p>
                                        We also offer pipe push-rod camera which is suitable for surveying and testing with residential, small commercial sites, specialty factories and municipal pipelines, including slender, narrow, curved pipes that cannot be accessed by CCTV robot with this characteristic.
                                    </p>
                                    <ul>
                                        <li>Simple operation powerful wide range of application.</li>
                                        <li>Pipe Diameter 25-200mm, (4” pipe).</li>
                                        <li>Cable length standard 20 meters, max 40meters.</li>
                                        <li>Wide visible range with clear images.</li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- /.wrapper -->
                    </div> <!-- /.market-growth -->

                </div> <!-- /.service-content -->
            </div> <!-- /.col- -->

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-12 theme-sidebar-one">
                <div class="sidebar-box service-categories">
                    <h3 class="title">Special Services</h3>
                    <ul>
                        @await Component.InvokeAsync("SpecialServices")
                    </ul>
                </div> <!-- /.service-categories -->
                <div class="sidebar-box sidebar-brochures">
                    <h5 class="title">Brochures</h5>
                    <ul>
                        @await Component.InvokeAsync("PdfFiles")
                    </ul>
                </div> <!-- /.sidebar-brochures -->



            </div> <!-- /.theme-sidebar-one -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.service-details -->
